.modal-bg .overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(185, 182, 182, 0.7);
    z-index: 1;
}

.modal-bg .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    width: 450px;
    height: 280px;
    z-index: 2;
    padding: 20px;
    border-radius: 5px;
}

.wrap{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-top: 20px;
}

.icon .fas{
    font-size: 22px;
    color:rgb(54, 54, 54);
}