.blog-image{
    width: 500px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
    display: block;
    margin: 0 auto;
}


.blog{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 200px;
}

.blog-info{
    display: block;
    width: 50%;
}

.backBtn{
    margin-top:20px;
    padding: 8px 12px;
    background-color:teal;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    color: white;
    cursor: pointer;
}

.blog-title{
    text-transform: capitalize;
    margin-bottom: 10px;
    font-size: 25px;
    color: #264653;
}

@media only screen and (max-width: 600px){
    .blog{
        display: flex;
        flex-direction: column;
    }

    .blog-img{
        display: block;
        margin: 0 auto;
    }

    .blog-image{
        width: 350px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
        margin-bottom: 10px;
        margin-top: -50px;
    }

    .blog-title{
        margin-top: 30px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 750px){
    .blog{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .blog-image{
        width: 400px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
        display: block;
        margin-bottom: 10px;
        margin-top: -50px;
    }

    .blog-title{
        margin-top: 130px;
    }
}

@media only screen and (min-width: 751px) and (max-width: 900px){
    .blog{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .blog-image{
        width: 500px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
        display: block;
        margin-left: -100px;
    }

    .blog-title{
        margin-top: 50px;
    }
}

@media only screen and (min-width: 901px) and (max-width: 1100px){
    .blog{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .blog-image{
        width: 400px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
        display: block;
        margin-left: -100px;
    }


    .blog-info{
        margin-left: 100px;
    }
}