/* .user_card{
    background: #caf0f8;
    padding: 20px;
    border-radius: 5px;
    display: block;
    color: initial;
    text-decoration: none;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 5px;
    transition: .4s ease-in-out;
} */

.user_card{
    display: flex;
    flex: 1 1 17rem;
    margin: 10px 10px;
    border-radius: 5px;
    flex-direction: column;
    background: #caf0f8;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 5px;
    padding: 20px 20px;
    align-self: normal;
    align-items: center;
    transition: .4s ease-in-out;
}

/* .user_card:hover{
    transform: translateY(-10px);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
} */

.user-title{
    margin: 10px 0;
    text-transform: capitalize;
    color: #03071e;
}

.user-details{
    margin-bottom: 10px;
    color: #14213d; 
}


.blog-img{
    max-width: 280px;
}

.card-footer{
    display: flex;
    margin-top: auto;
}

.common-btn{
    display: flex;
    margin-top: auto;
    margin-left: 5px;
    margin-right: 5px;
    padding: 6px 8px;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
}